/*=========================
     Object tree
===========================*/

.node {

  cursor: pointer;

  circle {
    fill: #fff;
    stroke-width: 3px;
  }

  text {
    font-size: 0.8em;
    text-decoration: underline;
    fill: steelblue;
    font-weight: bolder;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;

}

.myGraphTwo {
  border-top: 1px rgba(gray, 0.3) solid;
  border-bottom: 1px rgba(gray, 0.3) solid;
}

.legend {
  margin-bottom: 21px;

}

#graph {
  margin: 0 auto;
  align-self: flex-end;
}

.bar {
  fill: rgba(139, 202, 237, 0.36);

  &:hover {
    cursor: pointer;
    fill: rgba(139, 202, 237, 0.84);
  }

}

.axis {

  path, line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
  }

  text {
    font-size: 1.1em;
  }

}

.chart-title {
  font-size: 1.7em;
}

.line {
  fill: none;
  stroke: #9b9b9b;
  stroke-width: 1px;
}

.filtersubmit {
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 1px;
  color: #c8c8c8;
  width: 0;
}

.validforminput {
  position: absolute;
  z-index: 1;
  right: 40px;
  top: 1px;
  color: #2397f3;
  width: 0;
}

#wrapper {
  padding-left: 350px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -300px;
  left: 300px;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {

  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
  }

  #wrapper.active {
    position: relative;
    left: 250px;
  }

  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

}

rect.barh {

  &:hover {
    cursor: pointer;
    fill: rgba(139, 202, 237, 0.84);

  }
}

.line-graph{
	fill: none;
	stroke: darkblue;
	strke-width: 2px;
	shape-rendering: smooth;
}
