<form #f="ngForm" [ngFormModel]="form" (ngSubmit)="getNewData()" class="form-horizontal">

    <fieldset>
        <legend>Query</legend>

        <div class="form-group">
            <label for="inputPandas" class="col-lg-2 control-label">First date</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputPandas"
                       placeholder="yyyy-mm-dd"
                       ngControl="first_date"
                       #first_date="ngForm"
                >
                <div *ngIf="first_date.touched && first_date.errors">
                    <div
                            *ngIf="first_date.errors.required"
                            class="alert alert-danger">first date is required
                    </div>
                    <div *ngIf="first_date.errors.cannotContainSpace"
                         class="alert alert-danger">Date cannot contain space
                    </div>
                    <div *ngIf="first_date.errors.mustBeAValidDate"
                         class="alert alert-danger">This is no date son.
                    </div>
                </div>
            </div>
            <label for="inputPandas2" class="col-lg-2 control-label">Second date</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="inputPandas2"
                       placeholder="yyyy-mm-dd"
                       ngControl="second_date"
                       #second_date="ngForm"

                >

                <div
                        *ngIf="!second_date.valid"
                        class="alert alert-danger">second date is required
                </div>

            </div>

        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">New Data</button>

    </fieldset>




</form>


<div class="panel panel-default">
    <div class="panel-heading">

        <h4>Users vs Time</h4>


    </div>

    <div class="panel-body">


        <myBarChart [barChartData]='bmai'>
        </myBarChart>


    </div>


</div>