<form #f="ngForm" [ngFormModel]="form" (ngSubmit)="getNewData()" class="form-horizontal">

    <fieldset>
        <legend>Query</legend>

        <div class="form-group">
            <label for="inputPandas" class="col-lg-2 control-label">First date</label>
            <div class="col-lg-4">
                <input type="text"
                       class="form-control"
                       id="inputPandas"
                       placeholder="yyyy-mm-dd"
                       ngControl="first_date"
                       #first_date="ngForm"
                >
                <div *ngIf="first_date.touched && first_date.errors">
                    <div
                            *ngIf="first_date.errors.required"
                            class="text-danger">first date is required
                    </div>
                    <div *ngIf="first_date.errors.cannotContainSpace"
                         class="text-danger">Date cannot contain space
                    </div>
                    <div *ngIf="first_date.errors.mustBeAValidDate"
                         class="text-danger">Specified date not valid
                    </div>
                </div>
            </div>
            <label for="inputPandas2" class="col-lg-2 control-label">Second date</label>
            <div class="col-lg-4">
                <input type="text"
                       class="form-control"
                       id="inputPandas2"
                       placeholder="yyyy-mm-dd"
                       ngControl="second_date"
                       #second_date="ngForm"

                >

            </div>


        </div>

        <div class="form-group">
            <label class="col-lg-2 control-label">Aggregate by:</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionDay" value="D"
                            #day [checked]="choice.freq == day.value" (click)="choice.freq = day.value"
                        >
                        Day(s)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionWeek" value="W"
                                #week [checked]="choice.freq == week.value" (click)="choice.freq = week.value"
                              >
                        Week(s)
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionMonth" value="M"
                                  #month [checked]="choice.freq == month.value" (click)="choice.freq = month.value"
                              >
                        Month(s)
                    </label>
                </div>
            </div>
        </div>


        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">New Data</button>

    </fieldset>


</form>


<div class="panel panel-default">
    <div class="panel-heading">

        <h4>Active users in time</h4>


    </div>

    <div id="graphArea" class="panel-body">


        <myBarChart [barChartData]='bmai'>

        </myBarChart>

        <myHorizontalBarChart [barChartData]='hdata'>

        </myHorizontalBarChart>


    </div>


</div>