<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="col-md-12" style="border-left:1px solid rgba(226, 226, 226, 0.11);">
            <form #f="ngForm" [ngFormModel]="form" (ngSubmit)="getNewData()" class="form-horizontal">


                <fieldset>
                    <legend><i class="fa fa-search" style="color: #676767;margin-right: 10px"></i>Query
                    </legend>


                    <div class="form-group">
                        <label for="inputPandas" class="col-lg-2 control-label"> From </label>
                        <div class="col-lg-10">


                            <input type="text"
                                   class="form-control"
                                   id="inputPandas"
                                   placeholder="yyyy-mm-dd"
                                   ngControl="first_date"
                                   #first_date="ngForm"
                            />
                            <div>

                                <i class="fa fa-calendar-o fa-2x filtersubmit"></i>
                            </div>


                            <div *ngIf="first_date.touched && first_date.errors">
                                <div
                                        *ngIf="first_date.errors.required"
                                        class="text-danger">Date is required
                                </div>
                                <div *ngIf="first_date.errors.cannotContainSpace"
                                     class="text-danger">Date cannot contain space
                                </div>
                                <div *ngIf="first_date.errors.mustBeAValidDate"
                                     class="text-danger">Specified date not valid
                                </div>
                            </div>
                        </div>
                        <label for="inputPandas2" class="col-lg-2 control-label">To</label>
                        <div class="col-lg-10">
                            <input type="text"
                                   class="form-control"
                                   id="inputPandas2"
                                   placeholder="yyyy-mm-dd (optional)"
                                   ngControl="second_date"
                                   #second_date="ngForm"

                            />

                            <div>

                                <i class="fa fa-calendar-o fa-2x filtersubmit"></i>
                            </div>


                            <div *ngIf="second_date.touched && second_date.errors">
                                <div *ngIf="second_date.errors.mustBeAValidDateOrEmpty"
                                     class="text-danger">Specified date not valid
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-lg-6 control-label">Aggregate by:</label>
                        <div class="col-lg-offset-2 col-lg-8">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionHour" value="H"
                                           #hour [checked]="choice.freq == hour.value"
                                           (click)="choice.freq = hour.value"
                                    >
                                    Hours(s)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionDay" value="D"
                                           #day [checked]="choice.freq == day.value"
                                           (click)="choice.freq = day.value"
                                    >
                                    Day(s)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionWeek" value="W"
                                           #week [checked]="choice.freq == week.value"
                                           (click)="choice.freq = week.value"
                                    >
                                    Week(s)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionMonth" value="M"
                                           #month [checked]="choice.freq == month.value"
                                           (click)="choice.freq = month.value"
                                    >
                                    Month(s)
                                </label>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">New Data</button>


                </fieldset>


            </form>
        </div>

    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-6">
                        <div><strong>Total active users:</strong> {{barData._value}}</div>
                        <div><strong>Time</strong> {{barData.date | date:'medium'}}</div>

                    </div>


                </div>

                <div class="row">


                </div>

                <div class="panel panel-default">

                    <div id="graphArea" class="panel-body">
                        <i class="fa fa-line-chart fa-2x"></i>


                        <myBarChart [barChartData]='timeData' [title]="'Active users in time'"
                                    (hovering)="readBarData($event)">

                        </myBarChart>


                    </div>


                </div>


                <div class="row">

                    <div class="col-md-12">

                        <div class="panel panel-default">

                            <div id="graphArea2" class="panel-body">


                                <i class="fa fa-clone fa-2x"></i>

                                <myHorizontalBarChart [barChartData]='hdata' [title]="'Most active workspaces'"
                                                      [xAxisLabel]="'Active users'">

                                </myHorizontalBarChart>


                            </div>


                        </div>


                    </div>



                </div>


            </div>
        </div>
    </div>
</div>
